<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello world band</h1>
            <p class="lead">This is a sample website that utilizes BandPageGenerator API datas</p>
            <hr class="my-4">
            <p>Currently it fetches data from Facebook, Youtube and Spotify</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{Likes}}</h5>
                        <p class="card-text">Facebook likes</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ViewCount}}</h5>
                        <p class="card-text">Youtube views</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <h2>Upcoming events</h2>
        </div>

        <div class="row">
            {{#UpcomingEvents}}
            <div class="col-md">
                <div class="card">
                    <img src="{{Cover.Source}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{Name}}</h5>
                        <h6>{{#StartTime}}{{#Render}}yyyy. MM. dd. HH:mm{{/Render}}{{/StartTime}}, {{Place.Name}}</h6>
                        <p class="card-text">{{{FormattedDescription}}}</p>
                        <a href="https://www.facebook.com/{{Id}}" class="btn btn-primary">Facebook</a>
                    </div>
                </div>
            </div>
            {{/UpcomingEvents}}
            {{^UpcomingEvents}}
            <p>There are no upcoming events.</p>
            {{/UpcomingEvents}}
        </div>

        <div class="row mt-2 mb-2">
            <h2>Past events</h2>
        </div>

        <div class="row">
            {{#PastEvents}}
            <div class="col-lg-4 col-md-6 col-sm mb-2">
                <div class="card">
                    <img src="{{Cover.Source}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{Name}}</h5>
                        <h6>{{#StartTime}}{{#Render}}yyyy. MM. dd. HH:mm{{/Render}}{{/StartTime}}, {{Place.Name}}</h6>
                        <p class="card-text">{{{FormattedDescription}}}</p>
                        <a href="https://www.facebook.com/{{Id}}" class="btn btn-primary">Facebook</a>
                    </div>
                </div>
            </div>
            {{/PastEvents}}
        </div>

        <div class="row mt-2 mb-2">
            <h2>Photos</h2>
        </div>

        <div class="container" style="column-count: 3; column-gap: .75rem;">
            {{#FeaturedPhotos}}
            <img src="{{Source}}" class="img-fluid mt-1" />
            {{/FeaturedPhotos}}
        </div>

        <div class="row mt-2 mb-2">
            <h2>Instagram</h2>
        </div>

        <div class="container" style="column-count: 3; column-gap: .75rem;">
            {{#InstagramPhotos}}
            <img src="{{MediaUrl}}" class="img-fluid mt-1" />
            {{/InstagramPhotos}}
        </div>

        <div class="row mt-2 mb-2">
            <h2>Videos</h2>
        </div>

        <div class="row">
            {{#Videos}}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="embed-responsive embed-responsive-16by9 my-1 mx-1">
                    <iframe src="https://www.youtube.com/embed/{{Id}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            {{/Videos}}
        </div>

        <div class="row my-2">
            <h2>Music</h2>
        </div>

        <div class="row">
            {{#Albums}}
            <div class="card col-12 col-md-6 col-lg-4 my-1 mx-1">
                <div class="card-body">
                    <h5 class="card-title">{{Name}}</h5>
                    <p class="card-text">{{ReleaseDate}}, {{Label}}</p>
                </div>
            </div>
            {{/Albums}}
        </div>
    </div>
</body>
</html>