<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello world band</h1>
            <p class="lead">This is a sample website that utilizes BandPageGenerator API datas</p>
            <hr class="my-4">
            <p>Currently it fetches data from Facebook, Youtube and Spotify</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{Likes}}</h5>
                        <p class="card-text">Facebook likes</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ViewCount}}</h5>
                        <p class="card-text">Youtube views</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2>Upcoming events</h2>
        </div>

        <div class="container">
            {{#UpcomingEvents}}
            <div class="col-md">
                <div class="card">
                    <img src="{{Cover.Source}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{Name}}</h5>
                        <h6>{{#StartTime}}{{#Render}}yyyy. MM. dd. HH:mm{{/Render}}{{/StartTime}}{{Place.Name}}</h6>
                    </div>
                </div>
            </div>
            {{/UpcomingEvents}}
            {{^UpcomingEvents}}
            <p>There are no upcoming events.</p>
            {{/UpcomingEvents}}
        </div>
    </div>
</body>
</html>